.component-body {
    
}

.ipepathway-body {
    width: 100%;
}

.ipepathway-individualenrollment-filterpanelcontainer {
    position: relative;
    display: flex;
    flex-direction: row-reverse
}

.ipepathway-individualenrollment-filterpanel {
    overflow: inherit;
    height: inherit;
}